.header-content{
    background: lightseagreen;
}
ul{
    background-color: black;
    color:white;
    overflow: hidden;
    list-style: none;
}
ul li{
    float: left;
    margin:10px;
}

.fixed{
    position: fixed;
    left: 0;
    top: 0;
    /* width: 100%; */
}